{% extends 'app_chatbot/base.html' %}
{% block title %}Cliente{% endblock title %}
{% block block-id %}id="b-flex"{% endblock block-id %}
{% block navbar %}{% endblock navbar %}
{% load static %}

{% block content %}
<div class="svg-container">
   <img src="{% static 'app_chatbot/img/bg.svg' %}" alt="SVG Image 1">
   <img src="{% static 'app_chatbot/img/card_h.svg' %}" alt="SVG Image 2" id="cp-0">
   <p class="custom-font" id="cp-1"><b>Bem vindo(a)! Como podemos te ajudar?</b></p>
   <button type="button" class="big-btn" id="bb-0">Solicitar novo serviço</button>
   <button type="button" class="big-btn" id="bb-1">Acompanhar serviço(s)</button> 
</div>
{% endblock content %}


