{% extends 'app_chatbot/base.html' %}
{% block title %}Cliente{% endblock title %}
{% block block-id %}id="b-flex"{% endblock block-id %}
{% block navbar %}{% endblock navbar %}
{% load static %}

{% block content %}
<div class="svg-container">
   <img src="{% static 'app_chatbot/img/bg.svg' %}" alt="SVG Image 1">
   <img src="{% static 'app_chatbot/img/card_h.svg' %}" alt="SVG Image 2" id="cp-0">
   <p class="custom-font" id="cp-1"><b>Bem vindo(a)! Como podemos te ajudar?</b></p>
   <a href="{% url 'teste-3' %}">
      <button type="button" class="big-btn" id="bb-0">
        <img src="{% static 'app_chatbot/img/engine.svg' %}" alt="Button Image" id="bb-0-img">
        <div class="btn-text">Novo serviço</div>
      </button>
    </a>
    <a href="{% url 'customer-orders' %}">
      <button type="button" class="big-btn" id="bb-1">
        <img src="{% static 'app_chatbot/img/binoculars.svg' %}" alt="Button Image" id="bb-1-img">
        <div class="btn-text">Acompanhar serviços</div>
      </button>
    </a>
</div>
{% endblock content %}


