{% extends 'app_chatbot/base.html' %}
{% block title %}Cliente{% endblock title %}
{% block block-id %}id="b-flex"{% endblock block-id %}
{% block navbar %}{% endblock navbar %}
{% load static %}

{% block content %}
<div class="svg-container">
   <img src="{% static 'app_chatbot/img/bg.svg' %}" alt="SVG Image 1">
   <img src="{% static 'app_chatbot/img/card.svg' %}" alt="SVG Image 2" id="cr-p0">
   <p class="custom-font" id="cl-p0"><b>Login</b></p>
   <div class="container mt-5 custom-register-form">
      <form method="post">
        {% csrf_token %}
        <div class="form-group p-1">
          <label for="formGroupExampleInput">E-mail</label>
          <input type="text" class="form-control small-input" name="example_input">
        </div>
        <div class="form-group p-1">
          <label for="formGroupExampleInput2">Senha</label>
          <input type="text" class="form-control small-input" name="another_input">
        </div>
        <button type="submit" class="btn btn-lg custom-btn" id="customer-register-btn">Criar conta</button>
      </form>
      <p class="custom-font" id="cr-p2">Primeira vez aqui? <a href="{% url 'customer-register-page' %}">Criar conta</a></p>
      <p class="custom-font" id="cl-p1" >É funcionário? <a href="{% url 'employee-login-page' %}">Entrar como funcionário</a></p>
   </div>
</div>
{% endblock content %}


