{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" \
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>Ordem Serviço</title>
    </head>

    <body>
    <header>
        <nav class="navbar bg-dark sticky-top">
            <div class="container-fluid d-flex flex-row">
                <div class="row me-10">
                    <nav class="navbar navbar-light bg-dark">
                        <a class="navbar-brand" href="#">
                            <img src="{% static 'app_chatbot/img/logo_eceel-tec.png' %}" width="180" height="60" class="d-inline-block align-top" alt="">
                        </a>
                    </nav>
                </div>  
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid">
                <p class="h3 text-center mt-3">CADASTRO DO CLIENTE</p>
                <hr>
            <form method="POST">
                {% csrf_token%}
                <div class="row">
                    <div class="col-4 my-2">
                        <label for="nome_cliente" class="form-label">Nome Completo</label>
                        <input type="text" name="nome_cliente" class="form-control" maxlength="30" required>
                    </div>
                    <div class="col-4 my-2"> 
                        <label for="id_cliente" class="form-label">CPF ou CNPJ</label>
                        <input type="text" name="id_cliente" class="form-control" maxlength="20" placeholder="00.000.000-00" required>
                    </div>
                    <div class="col-4 my-2"> 
                        <label for="sub_id_cliente" class="form-label">RG ou IE</label>
                        <input type="text" name="sub_id_cliente" class="form-control" maxlength="15" required>
                    </div>
                    <div class="col-4 my-2"> 
                        <label for="data_nascimento_cliente" class="form-label">Data de Nascimento</label>
                        <input type="date" name="data_nascimento" class="form-control" required>
                    </div>
                    <div class="col-4 my-2"> 
                        <label for="email_cliente" class="form-label">Email</label>
                        <input type="text" name="email_cliente" class="form-control" maxlength="30" required>
                    </div>
                    <div class="col-4 my-2"> 
                        <label for="celular_cliente" class="form-label">Celular</label>
                        <input type="text" name="celular_cliente" class="form-control" maxlength="11" required>
                    </div>
                    <div class="col-4 my-2"> 
                        <label for="telefone_cliente" class="form-label">Telefone Fixo</label>
                        <input type="text" name="telefone_cliente" class="form-control" maxlength="11" required>
                    </div>
                    <div class="col-8 my-2"> 
                        <label for="endereco_cliente" class="form-label">Endereço</label>
                        <input type="text" name="endereco_cliente" class="form-control" maxlength="60" required>
                    </div>
                    <div class="col-3 my-2"> 
                        <label for="bairro_cliente" class="form-label">Bairro</label>
                        <input type="text" name="bairro_cliente" class="form-control" maxlength="20" required>
                    </div>
                    <div class="col-3 my-2"> 
                        <label for="cep_cliente" class="form-label">CEP</label>
                        <input type="text" name="cep_cliente" class="form-control" maxlength="9" required>
                    </div>
                    <div class="col-3 my-2"> 
                        <label for="cidade_cliente" class="form-label">Cidade</label>
                        <input type="text" name="cidade_cliente" class="form-control" maxlength="20" required>
                    </div>
                    <div class="col-3 my-2"> 
                        <label for="uf_cliente" class="form-label">UF</label>
                        <input type="text" name="uf_cliente" class="form-control" maxlength="2" required>
                    </div>
                </div>
                <hr>
                <p class="h3 text-center mt-3">DADOS DO COMPRADOR</p>
                <hr>
                <div class="row">
                    <div class="col-4 my-2">
                        <label for="nome_comprador" class="form-label">Nome Completo</label>
                        <input type="text" name="nome_comprador" class="form-control" maxlength="30" required>
                    </div>
                    <div class="col-4 my-2"> 
                        <label for="id_comprador" class="form-label">CPF ou CNPJ</label>
                        <input type="text" name="id_comprador" class="form-control" maxlength="20" placeholder="00.000.000-00" required>
                    </div>
                    <div class="col-4 my-2"> 
                        <label for="sub_id_comprador" class="form-label">RG ou IE</label>
                        <input type="text" name="sub_id_comprador" class="form-control" maxlength="15" required>
                    </div>
                    <div class="col-4 my-2"> 
                        <label for="data_nascimento_comprador" class="form-label">Data de Nascimento</label>
                        <input type="date" name="data_nascimento_comprador" class="form-control" maxlength="30" required>
                    </div>
                    <div class="col-4 my-2"> 
                        <label for="email_comprador" class="form-label">Email</label>
                        <input type="text" name="email_comprador" class="form-control" maxlength="30" required>
                    </div>
                    <div class="col-4 my-2"> 
                        <label for="celular_comprador" class="form-label">Celular</label>
                        <input type="text" name="celular_comprador" class="form-control" maxlength="11" required>
                    </div>
                    <div class="col-4 my-2"> 
                        <label for="telefone_comprador" class="form-label">Telefone Fixo</label>
                        <input type="text" name="telefone_comprador" class="form-control" maxlength="11" required>
                    </div>
                    <div class="col-8 my-2"> 
                        <label for="endereco_comprador" class="form-label">Endereço</label>
                        <input type="text" name="endereco_comprador" class="form-control" maxlength="60" required>
                    </div>
                    <div class="col-3 my-2"> 
                        <label for="bairro_comprador" class="form-label">Bairro</label>
                        <input type="text" name="bairro_comprador" class="form-control" maxlength="20" required>
                    </div>
                    <div class="col-3 my-2"> 
                        <label for="cep_comprador" class="form-label">CEP</label>
                        <input type="text" name="cep_comprador" class="form-control" maxlength="9" required>
                    </div>
                    <div class="col-3 my-2"> 
                        <label for="cidade_comprador" class="form-label">Cidade</label>
                        <input type="text" name="cidade_comprador" class="form-control" maxlength="20" required>
                    </div>
                    <div class="col-3 my-2"> 
                        <label for="uf_comprador" class="form-label">UF</label>
                        <input type="text" name="uf_comprador" class="form-control" maxlength="2" required>
                    </div>
                </div>
                <hr>
                <p class="h3 text-center mt-3">DADOS DE COMPRA</p>
                <hr>
                <div class="row">
                    <div class="col-12 my-2">
                        <label for="loja" class="form-label">Loja</label>
                        <input type="text" name="loja" class="form-control" maxlength="30" required>
                    </div>
                    <div class="col-6 my-2"> 
                        <label for="nf" class="form-label">NF</label>
                        <input type="text" name="nf" class="form-control" maxlength="44" required>
                    </div>
                    <div class="col-2 my-2"> 
                        <label for="data_compra" class="form-label">Data da Compra</label>
                        <input type="date" name="data_compra" class="form-control" maxlength="8" required>
                    </div>
                    <div class="col-2 my-2"> 
                        <label for="cod_produto" class="form-label">Código do Produto</label>
                        <input type="text" name="cod_produto" class="form-control" maxlength="30" required>
                    </div>
                    <div class="col-2 my-2"> 
                        <label for="valor" class="form-label">Valor (R$)</label>
                        <input type="text" name="valor" class="form-control" maxlength="30" required>
                    </div>
                </div>
                <hr>
                <p class="h3 text-center mt-3">DADOS DO EQUIPAMENTO</p>
                <hr>
                <div class="row">
                    <div class="col-6 my-2">
                        <label for="equipamento" class="form-label">Equipamento</label>
                        <input type="text" name="equipamento" class="form-control" maxlength="30" required>
                    </div>
                    <div class="col-4 my-2"> 
                        <label for="marca" class="form-label">Marca</label>
                        <input type="text" name="marca" class="form-control" maxlength="14" required>
                    </div>
                    <div class="col-2 my-3">
                        <!-- <label for="estado_lacre" class="form-label">Lacre Intacto</label>
                        <input type="text" name="estado_lacre" class="form-control" maxlength="3" required> -->
                        <label for="estado_lacre">Lacre Intacto:</label>
                        <br>
                        <select name="estado_lacre" form="form_dados_equipamento">
                            <option value="sim">Sim</option>
                            <option value="nao">Não</option>
                        </select>
                    </div>
                    <div class="col-4 my-2"> 
                        <label for="modelo" class="form-label">Modelo</label>
                        <input type="text" name="modelo" class="form-control" maxlength="8" required>
                    </div>
                    <div class="col-4 my-2"> 
                        <label for="num_serie" class="form-label">Nº de Série</label>
                        <input type="text" name="num_serie" class="form-control" maxlength="30" required>
                    </div>
                    <div class="col-4 my-2"> 
                        <label for="senha_usuario" class="form-label">Senha de Usuário</label>
                        <input type="text" name="senha_usuario" class="form-control" maxlength="30" required>
                    </div>
                    <div class="col-12 my-2"> 
                        <label for="texto_defeito" class="form-label">Defeito Reclamado</label>
                        <textarea class="form-control" name="texto_defeito" placeholder="Digite o defeito do equipamento..." required></textarea>
                    </div>
                    <div class="col-12 my-2"> 
                        <label for="estado_aparelho" class="form-label">Estado do Aparelho</label>
                        <textarea class="form-control" name="estado_aparelho" ></textarea>
                    </div>
                    <div class="col-12 my-2"> 
                        <label for="acessorios" class="form-label">Acessórios</label>
                        <textarea class="form-control" name="acessorios" ></textarea>
                    </div>
                    <div class="col-12 my-2"> 
                        <label for="observacoes" class="form-label">Observações p/ o Técnico</label>
                        <textarea class="form-control" name="observacoes" placeholder="Digite observações para o técnico..."></textarea>
                    </div>
                    <div class="col-12 my-2"> 
                        <label for="arquivos" class="form-label">Arquivos para Salvar</label>
                        <textarea class="form-control" name="arquivos" ></textarea>
                    </div>
                </div>
                <div class=" d-flex justify-content-center my-3">
                    <button type="submit" class="btn btn-success">Enviar</button>
                </div>  
            </form>
         </div>
    </main>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrP
        o0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJ
        oft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D
        1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    </body>
</html>