#chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
  }
  
  #chat-icon img {
    width: 50px;
    height: auto;
  }
  
  .modal {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 400px;
    height: 500px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5%;
  }
  
  .modal-content {
    padding: 20px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }