.card-title {
  text-align: center;
}


.card {
  max-width: 540px;
  border-radius: 10px;
  border-color: black;
}


.card-block {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}


.card-body {
  max-width: 100%;
}


.card-info-topics {
  padding-left: 10%;
}


.text-after-colon {
  display: inline-block;
  margin-left: 1em;
}


.card-info-topics, .card-info {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------- */

.message {
  position: relative;
}

.message:after {
  content: "";
  top: 0;
  position: absolute;
  border: 0.75em solid transparent;
  border-top-color: blue;
  display: block;
}

.message.assistant:after {
  left: -0.45em;
  border-top-color: inherit;
}

.message.user:after {
  right: -0.45em;
  border-top-color: inherit;
}

.type-indicator span {
  display: inline-block;
  padding: 0 0.075em;
  animation: type-indicator 1s ease-in-out infinite;
  transform: translateY(0);
}

.type-indicator span:nth-child(2) {
  animation-delay: 150ms;
}

.type-indicator span:nth-child(3) {
  animation-delay: 300ms;
}

@keyframes type-indicator {
  0% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

.blink {
  animation: blink 1.25s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  69% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}